/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.inactive {
  display: none;
}

// Links
.more-result {
  color: #fff;
  opacity: 0.7;
  text-align: center;
  margin: 0 0 30px 0;
  #more-flights {
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
// Headers
h1 {
  font-family: $logo-font;
  font-size: 100px;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 40px 0 0 0;
  text-shadow: 0px 0px 6px #555;
}
h2 {
  opacity: 0.7;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: 0 0 35px 0;
}
