.btn {
  line-height: 38px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
}

.btn-success, .btn-success:focus, .btn-success:active {
  background-color: #904e95;
  color: #fff;
  border: none;
  &:hover {
    background-color: darken($brand-secondary, 10%);
  }
}
