.trips-card{
  border-radius: 4px;
  margin-bottom: 20px;
  form {
    padding: 30px;
    select {
      background-color: rgba(255, 255, 255, 0.30);
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.40)
      }
    }
    label {
      display: none;
    }
  }
  p {
    margin: 0;
  }
  .trips-card-head {
    border-radius: 8px 8px 0 0;
    .title-section {
      border: none;
      padding-bottom: 10px;
    }
    h3 {
      font-size: 22px;
      line-height: 17px;
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
    ul.forecast {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
      li {
        &:last-child{
          padding-right: 0;
        }
      }
      h4 {
        margin: 0;
        font-size: 15px;
        color: #2C2E34;
        font-weight: normal;
        font-family: 'Open sans', 'sans serif';
      }
      .icon {
        width: 100%;
        height: 26px;
        margin: 0 0 3px 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
  .trips-card-content {
    padding: 0;
    h4 {
      font-size: 30px;
      line-height: 21px;
      text-indent: 0;
      margin: 0 0 10px;
    }
    small{
      text-transform: uppercase;
      font-size: 12px;
      color: #aaa;
    }
  }
  .trips-card-footer {
    border-radius: 0 0 8px 8px;
  }
  .title-section, .flight-section, .housing-section, .total-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #ededed;
  }
  .title-section h3, .flight-details, .housing-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    div {
      line-height: 12px;
      font-size: 12px;
      &:first-child, &:last-child {
        // flex: 1;
        width: 38%;
      }
      &:first-child {
        text-align: right;
      }
    }
  }
  .weather-details, .flight-price, .housing-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 15px;
    width: 36%;
    font-size: 16px;
    color: #999;
    .btn-success {
      margin: 0 0 0 8px;
      text-transform: uppercase;
      height: 40px;
      line-height: 28px;
      font-size: 11px;
    }
  }
  .housing-section {
  }
  .total-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .save-trip {
      form {
        padding: 0;
      }
    }
    h4 {
      font-size: 22px;
      line-height: 17px;
      font-weight: normal;
      margin: 0;
      small {
        color: #ccc;
        font-size: 16px;
      }
    }
  }
  .total-price {
    font-size: 22px;
    line-height: 17px;
    color: #2C2E34;
    small {
      color: #ccc;
      font-size: 16px;
    }
  }
  .btn {
    span {
      display: none;
    }
  }
  .logo {
    align-self: flex-start;
    margin: 0 10px;
    width: 25px;
    height: 24px;
    background-size: cover;
  }
  .fa {
    // color: $brand-primary;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      color: $brand-primary;
    }
  }
}

@media only screen and (min-width: 768px) {

  .trips-card{
    margin-bottom: 30px;
    form {
      padding: 30px;
      label {
        display: none;
      }
    }
    .trips-card-head {
      h3 {
        font-size: 28px;
        line-height: 100%;
      }
    }
    .trips-card-content {
      h4 {
        font-size: 60px;
        line-height: 50px;
      }
      small{
        text-transform: uppercase;
        font-size: 12px;
        color: #aaa;
      }
    }
    .trips-card-footer {
      border-radius: 0 0 8px 8px;
    }
    .title-section, .flight-section, .housing-section, .total-section {
      justify-content: space-between;
      padding: 15px 30px;
    }
    .title-section {
      ul.forecast {
        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        h4 {
          font-size: 20px;
        }
      }
    }
    .flight-details, .housing-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      div {
        margin: 0;
      }
    }
    .flight-price, .housing-price {
      margin: 0 0 0 8%;
      font-size: 24px;
      flex-direction: column;
      .btn-success {
        margin: 0;
        text-transform: uppercase;
        line-height: 30px;
        font-size: 11px;
      }
    }
    .housing-section {
      .logo {
        align-self: center;
        // margin: 0 32px;
      }
    }
    .total-section {
      padding-top: 15px;
      padding-bottom: 30px;
      align-items: center;
      .save-trip {
        form {
          padding: 0;
        }
      }
    }
    .total-price {
      font-size: 36px;
      line-height: 26px;
    }
    .btn {
      span {
        display: inline;
      }
    }
    .logo {
      width: 50px;
      height: 50px;
    }
    .fa {
      // color: $brand-primary;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        color: #555;
      }
    }
  }

}
